@{
    ViewBag.Title = "Simulador de Micro-ondas - Nível 1";
}
<main>
    <section class="row" style="margin-top: 30px;">
        <div class="col-md-12">
            <h2>Simulador de Micro-ondas</h2>
            <p class="lead">Introduza o tempo e a potência para iniciar o aquecimento.</p>
        </div>
    </section>

    <hr />

    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("Iniciar", "Home", FormMethod.Post))
            {
                <input type="hidden" name="tempoRestanteAtual" value="@ViewBag.TempoRestante" />

                <div class="form-group">
                    <label>Tempo (1 a 120 segundos): </label>
                    <input type="number" name="segundos" class="form-control" value="@ViewBag.Segundos" placeholder="Vazio = 30 seg (Início Rápido)" />
                </div>
                <br />
                <div class="form-group">
                    <label>Potência (1 a 10): </label>
                    <input type="number" name="potencia" class="form-control" value="@(ViewBag.Potencia ?? 10)" />
                </div>
                <br />
                <button type="submit" class="btn btn-success">
                    @(ViewBag.Pausado == true ? "Retomar Aquecimento" : "Iniciar Aquecimento / +30s")
                </button>
            }

            <br />

            @using (Html.BeginForm("PausarCancelar", "Home", FormMethod.Post))
            {
                <input type="hidden" name="tempoRestante" value="@ViewBag.TempoRestante" />
                <input type="hidden" name="jaPausado" value="@(ViewBag.Pausado == true ? "true" : "false")" />

                <button type="submit" class="btn btn-danger">Pausar / Cancelar</button>
            }
        </div>

        <div class="col-md-6">
            @if (ViewBag.Resultado != null)
            {
                if (ViewBag.Resultado.StartsWith("Erro"))
                {
                    <div class="alert alert-danger">
                        <strong>Atenção:</strong> @ViewBag.Resultado
                    </div>
                }
                else
                {
                    <div class="card">
                        <div class="card-header">Painel Digital</div>
                        <div class="card-body" style="background-color: #000; color:#0f0; padding: 20px; font-family: 'Courier New', monospace; min-height:100px; word-wrap: break-word;">

                            <h3 style="color: #0f0; text-align: center; margin-bottom: 10px;">
                                ⏱️ @ViewBag.TempoFormatado
                            </h3>

                            <hr style="border-color: #0f0; opacity: 0.5;" />

                            @ViewBag.Resultado

                        </div>
                    </div>
                }
            }
        </div>
    </div>
</main>